h1 {
  border: 5px;
  padding-top: 50px;
  margin-left: 30px;
  font-family: futura;
  font-size: 30px;
	color: lightblue;
  text-decoration: overline;
	letter-spacing: 2px;
}

ul {
  text-align: left;
  margin-left: 30px;
  padding-top: 30px;
  padding: 10px;
}

li {
  color: black;
  font-family: futura;
  font-size: 15px;
  padding: 5px;
	color: black;
}

img {
  width: 60%;
  height: auto;
  display: inline-block;
  padding-left: 200px;
  padding-bottom: 40px;

}





































}
